body {
    background: url("./background4.jpg") no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.bi-filetype-html {
    font-size: 30px; /* change this value to adjust the size of the icon */
}
  
.bi-filetype-css {
    font-size: 30px; /* change this value to adjust the size of the icon */
}

.bi-filetype-js {
    font-size: 30px; /* change this value to adjust the size of the icon */
}
  
.bi-filetype-py {
    font-size: 30px; /* change this value to adjust the size of the icon */
}


.text-start {
  margin-top: 60px;
  margin-left: 45px;
  font-size: 150%;
}

.description {
  margin-left: 45px;
  font-size: 125%;
  font-weight: bold;
}


.card-img-top:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}







